.wrap{
    width: 100%;
}
.container{
    max-width: 1400px;
    height: inherit;
    background-color: rgba(255, 255, 255, .5);
    margin: auto;
}
/* header */

header{
    width: 100%;
    height: 100px;
    overflow: hidden;
    
}
header .container{
  display: flex;
    max-width: 1400px;
}

/* 뎁스2 배경 */
/* .gnb:hover:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%; 
    height: 230px;
    background-color: #eff4fe;
    top: 100px;
    overflow: visible;
    transition: all 0.3s;
    z-index: 999;
} */
.sub_bg{
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 230px;
    background-color: #eff4fe;
    display: none;
    transition: height .2s;
    z-index: 1000;
}
header:hover .sub_bg {
    display: block;
}
.logo{
    background: url(../images/main_logo.svg) no-repeat 0 50%;
    width: 124px;
    height: 100px;
    display: inline-block;
}
h1{
    position: absolute;
    text-indent: -99999px;
}
.gnb{
    display: flex;
    min-width: 830px;
    margin: 0 auto;
    height: 100px;
    line-height: 100px;
    justify-content: space-between;
    text-align: center;
    
}
header .gnb .sub{
   margin: 20px auto;
   text-align: left;

}

header .gnb .sub li{
    height: 40px;
    line-height: 40px;
    
}
.gnb .sub li a{
    display: inline-block;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #2a2e35;
    
}
.gnb li a{
    font-size: 21px;
    color: #134aa9;
    
}
.spotmenu{
    min-width: 220px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
header .spotmenu a{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    color: #134aa9;
}

.main_banner .main_slide_left{
    max-width: 100%;
  
}
.main_banner .main_slide_right{
    max-width: 100%;
  
}
.main_banner p{
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 25px;
}
.main_banner h2{
    font-family: 'GmarketSans', sans-serif;
    font-size: 80px;
    font-weight: 500;
    line-height: 1.1;
    color: #134aa9;
}
.main_banner .container{
display: flex;
align-items: center;

}
.quick_menu{
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
}
.quick_menu .container{
    position: absolute;
    bottom: -58px;
    left: 0;
    z-index: 10;
    display: flex;
    height: 130px;
    background-color: #eff4fe;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.quick_menu .container a{
    font-size: 25px;
    color: #2a2e35;
    
}
/* 캘린더 */
.content2{
    
    height: 300px;
    background-color: #134aa9;
}
.content2 .container{
   padding-top: 10%;
   text-align: center;
}
.cal_more{
    text-align: right;
}
.cal{
    display: flex;
}
.cal_day{
    display: flex;
}
.space{
    height: 300px;
    background-color: rgb(241, 241, 151);
}
.space1{
    margin-top: 10%;
}
/* 공간찾기 */
.find{
    max-width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

.find_right img{
    height: 250px;
}
.content5{
    height: 300px;
    background-color: #eff4fe;
}
.sns{
    padding-top: 7%;
}
.content6{
    height: 300px;
    background-color: #eff4fe;
}
footer{
    height: 100px;
    background-color: lightslategray;
}