.wrap{
    width: 100%;
}
.container{
    max-width: 1400px;

    margin: auto;
}
/* popup */
.popup {
	position: fixed;
	background-color: rgba(57, 167, 130, 0.7);
	color: #fff;
	font-size: 18px;
	top: 30%;
	left: 60%;
	z-index: 999;
	padding: 10px;
}
.popup #closeButton{
	position: absolute;
	right: 5%;
	cursor: pointer;

}

/* header */

header{
    width: 100%;
    height: 100px;
    overflow: hidden;
    
}
header .container{
  display: flex;
    max-width: 1400px;
}

/* 뎁스2 배경 */
/* .gnb:hover:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%; 
    height: 230px;
    background-color: #eff4fe;
    top: 100px;
    overflow: visible;
    transition: all 0.3s;
    z-index: 999;
} */
.sub_bg{
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 230px;
    background-color: #eff4fe;
    display: none;
    transition: height .2s;
    z-index: 1000;
}
header:hover .sub_bg {
    display: block;
}
.logo{
    background: url(../images/main_logo.svg) no-repeat 0 50%;
    width: 124px;
    height: 100px;
    display: inline-block;
}
h1{
    position: absolute;
    text-indent: -99999px;
}
.gnb{
    display: flex;
    min-width: 830px;
    margin: 0 auto;
    height: 100px;
    line-height: 100px;
    justify-content: space-between;
    text-align: center;
    
}
header .gnb .sub{
   margin: 20px auto;
   text-align: left;

}

header .gnb .sub li{
    height: 40px;
    line-height: 40px;
    
}
.gnb .sub li a{
    display: inline-block;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #2a2e35;
    
}
.gnb>li a{
    font-family: 'GmarketSans';
    
    font-weight: 700;
    font-size: 21px;
    color: #134aa9;
    
}
.spotmenu{
    min-width: 220px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
header .spotmenu a{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    color: #134aa9;
}
.main_banner{
    padding-bottom: 100px;
}
.main_banner .main_slide_left{
    max-width: 100%;
  
}
.main_banner .main_slide_right{
    max-width: 65%;
  
}
.main_banner p{
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 25px;
    color: #134aa9;
}
.main_banner h2{
    font-size: 80px;
    font-weight: 300;
    line-height: 1.1;
    color: #134aa9;
}
.main_banner .container{
display: flex;
align-items: center;

}
.quick_menu{
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
}
.quick_menu .container{
    position: absolute;
    bottom: -58px;
    left: 0;
    z-index: 10;
    display: flex;
    height: 130px;
    background-color: #eff4fe;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.quick_menu .container a{
    font-size: 25px;
    color: #2a2e35;
    
}
/* 캘린더 */
.content2{
    
    height: 645px;
    background-color: #134aa9;
}
.content2 .container{
   padding-top: 10%;
   text-align: center;
}
.cal_more{
    text-align: right;
}
.cal{
    display: flex;
}
.cal_day{
    display: flex;
}
.space{


}
.space1{
    margin-top: 10%;
    line-height: 54px;
    
}
/* 공간소개 */
.space2{
    margin-top: 16px;
    margin-bottom: 50px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    color: #2a2e35;
    line-height: 16px;
    font-weight: normal;
}
.find_left p{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    color: #2a2e35;
    font-weight: normal;
}
.sns p{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    color: #2a2e35;
    font-weight: normal;
    line-height: 24px;
}
.space3_left ul{
    display: flex;

}
.space3_left ul li button{
    padding: 0 30px;
    border: #134aa9 solid 2px;
    border-radius: 50px;
    height: 75px;
    font-size: 20px;
    color: #134aa9;
    font-weight: 500;
    margin-top: 20px;
    margin-right: 10px;
    background-color: #fff;
}
.space3_left ul li button:hover{
    color: #fff;
    background-color: #134aa9;
    transition: all 0.3s;
}
/* 공간찾기 */
.find{
    max-width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

.find_right img{
    height: 250px;
}
.content5{
    height: 300px;
    background-color: #eff4fe;
}
.sns{
    padding-top: 7%;
}
.content6{
    height: 300px;
    background-color: #eff4fe;
}
/* footer */
.footer_first{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #484848;
}
.footer_first .footer1{
    display: flex;
    padding: 40px 0;
    
}
.footer_first .footer1 a{
    color: #fff;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.footer_first .footer1 li{
    margin-right: 24px;
}
footer{
    height: 276px;
    background-color: #333;
}
.footer_second{
    display: flex;
    align-items: center;
    height: 180px;
}
.footer_logo img{
    width: 158px;
    opacity: 0.5;
}
.footer_gunggido_logo img{
    width: 74px;
    opacity: 0.5;
}
.footer_second .address{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    color: #767676;
    line-height: 1.7;
    padding-left: 40px;
}